---
layout: default
---
<div class="section-root-one">
  <div class="section one">
    <div class="container text-center contents">
        <h1>Get in touch with us</h1>

        <div class="container project-gallery">
            <p>Ut tellus ligula, scelerisque et quam vel, maximus bibendum ex. Fusce lacinia libero eros, posuere dictum nulla pulvinar sit amet. Donec at accumsan dolor. Sed eget dignissim nibh. Praesent at facilisis nibh. Cras diam sapien, eleifend ut magna et, finibus sodales sem. Cras ut cursus augue. Vivamus sem odio, consectetur et risus et, aliquam ultrices felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>

        <form id="contact-form" name="contact-form" action="https://formspree.io/xaypgkop" method="POST"> 
          <div class="row">
            <div class="col">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="col">
              <input type="text" id="email" name="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject"></div>
          </div>
          <div class="col">
            <div class="row"><textarea type="text" id="message" name="message" rows="6" class="textarea form-control"
                placeholder="Message"></textarea></div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <a href="#" onclick="document.getElementById('contact-form').submit();"><button type="button" class="contact-button">Send</button></a>
            </div>
          </div>
        </form>
        
          </div>
        </div>

      </div>
    </div>
  </div>
</div>