---
layout: default
---
<div class="section-root-one">
  <div class="section one">
    <div class="container text-center contents-small">
        <h1>Voice Over Casting<br> For Indie Games</h1>
        <hr class="hr-small">
          <p>
            With expertise and experience in the acting, voice over and video game industries, we combine our skills to deliver a personalized service to game development studios and help them cast their video games from beginning to end.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="section-root-one">
  <div class="section two">
    <div class="container text-center contents-small">
        <h1>Our Services</h1>
        <hr class="hr-small">
          <p>
            With expertise and experience in the acting, voice over and video game industries, we combine our skills to deliver a personalized service to game development studios and help them cast their video games from beginning to end.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="section-root-two">
  <div class="section two">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Indie Game Studios</h2>
          <p>
            <strong>Vivamus eget tellus elit.</strong> Aliquam eu metus hendrerit, faucibus sem sed, iaculis diam. <em>Nunc tincidunt efficitur bibendum.</em> Sed in placerat metus. <strong>Cras tempor libero sed lorem volutpat,</strong> at dignissim ante vehicula. Quisque interdum urna orci, <em>at aliquet sapien cursus sit amet.</em>
          </p>
        </div>
        <div class="col-md-4">
          <img src="/img/thumb1.jpg" class="img-fluid img-yorha" draggable="false">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-root-three">
  <div class="section three">
    <div class="container">
      <div class="row text-right">
        <div class="col-md-8 order-2">
          <h2>Voice Over Artists</h2>
          <p>
            <strong>Duis vel orci elementum,</strong> vestibulum neque quis, rhoncus mauris. Vestibulum ac eros eleifend, ultricies eros nec, fermentum metus. Suspendisse nec tellus aliquam, <strong>bibendum orci eget,</strong> luctus justo. Mauris posuere nisl in erat posuere, quis dignissim lectus efficitur.
          </p>
        </div>
        <div class="col-md-4 order-1">
          <img src="/img/thumb2.jpg" class="img-fluid img-yorha" draggable="false">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-root">
  <div class="section one">
    <div class="container text-center contents-small">
      <h1>Let us help you<br> cast your game</h1>
          <p>
            <strong>Aenean quis varius urna,</strong> id faucibus purus. In finibus eu arcu non aliquet. Donec sit amet eleifend mauris. <strong>In ac dui et dui pulvinar imperdiet ut a nibh.</strong> Suspendisse sit amet molestie nunc.
          </p>
      <a href="contact.html">
        <p><a href="contact.html"><button type="button" class="contact-button">Contact Us</button></a></p>
      </a>
    </div>
  </div>
</div>