<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette align-items-center" style="padding-top: 4rem">
        <div class="col-md-7">
            <h1 class="featurette-heading" style="padding-bottom:1rem">About Me</h1>
                <p>Mylo Reid is a massively successful voice actor who lives in an eighteen million dollar mansion… Just
                    kidding! Well, at least about the mansion part! ;)</p>
                <p>Who am I really? I’m someone who used to hate the sound of my own voice. I used to hate that feeling
                    of being asked to talk about myself or what I was all about.</p>
                <p>When I went to acting school, this all changed. I became obsessed with how my voice could grow and
                    change and tell new stories I hadn’t told before.</p>
                <p>Not too long after I finished school, I got scouted by a dubbing studio in New York City. I got to
                    play a lot of major and minor characters in about half a dozen series that only air internationally
                    so, no, you probably haven’t seen them, or even heard of them for that matter! :)</p>
                <p>Nowadays, I make my living full time doing a variety of different kinds of voice over jobs. I love
                    being able to be the voice of a new product, idea, or character that might change someone’s life!
                </p>
                <p>And even though I’m always busy, I’m always ready to be even busier! So if you have some words you
                    need spoken or shrieked, you know where to find me!</p>
        </div>
        <div class="col-md-5">
            <img src="./img/avatar2.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-feat "
                width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </div>
    </div>

    <hr class="featurette-divider-blank">
</div>