<div class="container">

    <div class="row featurette align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading" style="font-weight: 800">Professional voice actor<br><span
                    class="text-muted">5+ years of experience</span></h2>
            <p class="lead">I have professional training as a stage, film, and voice-over actor. I use an industry
                standard microphone, so quality is crystal clear and ready for any purpose. I make my living full
                time
                doing a variety of different kinds of voice over jobs. I love being able to be the voice of a new
                product, idea, or character that might change someone’s life!</p>

        </div>
        <div class="col-md-5 order-md-1">
            <img src="./img/avatar3.png"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-feat "
                width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
        </div>
    </div>

    <hr class="featurette-divider-blank">

</div>