<div class="container marketing">
  <div class="row featurette align-items-center">
    <div class="col-md-8 offset-md-2 contact-form">
      <form id="contact-form" name="contact-form" action="https://formspree.io/xaypgkop" method="POST"> 
        <div class="row">
          <div class="col">
            <input type="text" id="name" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <input type="text" id="email" name="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject"></div>
        </div>
        <div class="col">
          <div class="row"><textarea type="text" id="message" name="message" rows="6" class="textarea form-control"
              placeholder="Message"></textarea></div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr class="featurette-divider-blank">
</div>