<div class="container marketing">
  <hr class="featurette-divider-blank">
  <div class="row featurette align-items-center">
    <div class="col-md-8 offset-md-2 contact-form">
      <h1 class="featurette-heading" style="padding-bottom:1rem">Contact Me</h1>
      <p class="lead">For any enquiries please contact me at <a href="mailto:&#109;&#121;&#108;&#111;&#064;&#112;&#117;&#112;&#112;&#101;&#116;&#115;&#098;&#117;&#110;&#107;&#101;&#114;&#046;&#099;&#111;&#109;">&#109;&#121;&#108;&#111;&#064;&#112;&#117;&#112;&#112;&#101;&#116;&#115;&#098;&#117;&#110;&#107;&#101;&#114;&#046;&#099;&#111;&#109;</a> or use the form below and I will get back to you as soon as possible.</p>
    </div>
  </div>
</div>