<footer class="container">
  <p class="text-center"><a href="mailto:&#109;&#121;&#108;&#111;&#064;&#109;&#121;&#108;&#111;&#114;&#101;&#105;&#100;&#046;&#099;&#111;&#109;">&#109;&#121;&#108;&#111;&#064;&#109;&#121;&#108;&#111;&#114;&#101;&#105;&#100;&#046;&#099;&#111;&#109;</a></p>
  <p class="text-center">&copy; 2020 Mylo Reid</p>
  <p class="text-center"><a href="#" class="test">Back to top</a></p>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="assets/bootstrap.min.js"></script>
  <script src="assets/audioplayer.js"></script>
  <script type="text/javascript" src="assets/amplitude.min.js"></script>
  <script type="text/javascript" src="assets/functions.js"></script>
  <script type="text/javascript" src="assets/custom.js"></script>
  <script src="https://kit.fontawesome.com/e28242aa73.js" crossorigin="anonymous"></script>
</footer>