<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette align-items-center" style="padding-top: 4rem">
        <div class="col-md-8 offset-md-2">
            <h1 class="featurette-heading" style="padding-bottom:1rem">Recent Projects</h1>
                <div class="row">
                    <a href="https://twitter.com/sinsationsvn" class="img-project"><img
                            src="./img/projects/sinsations01.png" class="img-fluid img-project"></a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://twitter.com/sinsationsvn" class="img-project"><img
                                src="./img/projects/sinsations02.jpg" class="img-fluid img-project"></a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://twitter.com/sinsationsvn" class="img-project"><img
                                src="./img/projects/sinsations03.jpg" class="img-fluid img-project"></a>
                    </div>

                </div>
        </div>
    </div>

    <hr class="project-divider">

    <div class="row featurette align-items-center">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <a href="https://store.steampowered.com/app/896250/Liquidation/" class="img-project"><img
                        src="./img/projects/liquidation.jpg" class="img-fluid img-project"></a>
            </div>
        </div>
    </div>


    <hr class="project-divider">

    <div class="row featurette align-items-center">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <a href="https://store.steampowered.com/app/869170/Oneiros/" class="img-project"><img
                        src="./img/projects/oneiros.jpg" class="img-fluid img-project"></a>
            </div>
        </div>
    </div>

    <hr class="featurette-divider-blank">